Flask==1.1.2
gunicorn==20.0.4
Jinja2==2.11.2
json5==0.9.4
jsonschema==3.2.0
nltk==3.5
pandas==1.1.4
pipenv==2020.8.13
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
scikit-learn==0.23.2
scipy==1.4.1
Scrapy==2.3.0
six==1.14.0
sklearn==0.0
